.vscode
metamath-lsp/target
metamath-lsp/Cargo.lock
metamath-lsp/*.rs.bk
metamath-vscode/out
metamath-vscode/dist
metamath-vscode/node_modules
metamath-vscode/.vscode-test/
metamath-vscode/*.vsix
metamath-mmp/target
metamath-mmp/Cargo.lock
metamath-mmp/*.rs.bk
